.popup__btn-close {
  min-width: 32px;
  min-height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../../images/button-close.svg);
  padding: 0;
  border: 0;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
  
.popup__btn-close:hover {
  opacity: .6;
}
  
@media screen and (max-width: 767px) {
    .popup__btn-close {
      top: calc(((100vw - 320px) * (-4 / 448)) - 36px);
      right: calc(((100vw - 320px) * (-40 / 448)) + 0px);
      min-width: calc(((100vw - 320px) * (12 / 448)) + 20px);
      min-height: calc(((100vw - 320px) * (12 / 448)) + 20px);
    }
}