.popup__btn-save {
  width: 100%;
  min-height: 50px;
  padding: 0;
  margin: 5px 0 0 0;
  border: 0;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  box-sizing: border-box;
}

.popup__btn-save:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .popup__btn-save {
    font-size: calc(((100vw - 320px) * (4 / 448)) + 14px);
    line-height: calc(((100vw - 320px) * (5 / 448)) + 17px);
    min-height: calc(((100vw - 320px) * (4 / 448)) + 46px);
    margin: 11px 0 0 0;
  }
}