.logo {
  max-width: 142px;
  max-height: 33px;
}

@media screen and (min-width: 878px) and (max-width: 950px) {
  .logo {
    padding-left: calc(((100vw - 878px) * (-27 / 72)) + 27px);
  }
}

@media screen and (max-width: 877px) {
  .logo {
    padding-left: 27px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .logo {
    width: calc(((100vw - 320px) * (38 / 448)) + 104px);
    height: calc(((100vw - 320px) * (8 / 448)) + 25px);
  }
}

@media screen and (max-width: 319px) {
  .logo {
    max-width: 104px;
    max-height: 25px;
  }
}