.popup__title {
  width: 100%;
  color: #000;
  margin: 0 0 54px;
  padding: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 23px;
  box-sizing: border-box;
}
  
@media screen and (max-width: 767px) {
  .popup__title {
    font-size: calc(((100vw - 320px) * (6 / 448)) + 18px);
    line-height: calc(((100vw - 320px) * (7 / 448)) + 22px);
    margin-bottom: calc(((100vw - 320px) * (-21 / 448)) + 75px);
  }
}