.profile__btn-edit-avatar {
    background: rgba(0, 0, 0, 0.8) url(../../../images/avatar-btn.svg) no-repeat 50%;
    border: none;
    border-radius: 50%;
    height: 120px;
    opacity: 0;
    padding: 0;
    position: absolute;
    width: 120px;
    transition: opacity .3s ease-in-out;
}

.profile__btn-edit-avatar:hover {
    cursor: pointer;
    opacity: .8;
}

@media screen and (max-width: 767px) {
    .profile__btn-edit-avatar {
      margin-right: 0;
      justify-self: center;
    }
  }