.popup__container {
  max-width: 430px;
  max-height: 330px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  padding: 34px 36px 37px;
  box-sizing: border-box;
}
  
@media screen and (max-width: 767px) {
  .popup__container {
    max-width: calc(((100vw - 320px) * (148 / 448)) + 282px);
    min-height: 322px;
    padding-top: calc(((100vw - 320px) * (9 / 448)) + 25px);
    padding-right: calc(((100vw - 320px) * (14 / 448)) + 22px);
    padding-bottom: calc(((100vw - 320px) * (9 / 448)) + 25px);
    padding-left: calc(((100vw - 320px) * (14 / 448)) + 22px);
  }
}