.element__btn-heart {
  background-image: url(../../../images/button-heart.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  background-color: #fff;
  margin-left: 20px;
  margin-bottom: 10px;
  min-width: 22px;
  cursor: pointer;
  padding: 0;
}

.element__btn-heart:hover {
  opacity: .6;
}