.popup__input {
  width: 100%;
  padding: 0 0 13px;
  border: 0;
  color: #000;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  box-sizing: border-box;
  outline: none;
}

/* .popup__input:nth-child(3) {
  margin: 0 0 0 0;
} */

.popup__input::placeholder {
  color: #C4C4C4;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}